@charset "UTF-8";

/* Telas Maiores */

@media screen and (min-width: 769px) {

    html {
        width: 98.7vw;
        height: 100vh;
    }
    
    header {
        height: 75px;
        font-size: 1.5em;
        letter-spacing: 0.3em;
    }

    img {
        display: block;
        height: 160px;
        size: 160px;
        border-radius: 50%;
    }

    .container-imagem {
        display: flex;
        justify-content: center;
    }

    .container-1 {
        display: grid;
        flex-direction: row;
        justify-content: space-evenly;
        grid-template-areas:  
          'f-1 f-2'
          'f-3 f-4';
        gap: 50px;
    }

    .itens {
        height: 100px;
        width: 500px;
    }

    #f1 {
        grid-area: 'f-1';
    }

    #f-2 {
        grid-area: 'f-2';
    }

    #f-3 {
        grid-area: 'f-3';
    }

    #f-4 {
        grid-area: 'f-4';
    }

    footer {
        display: grid;
        place-items: center;
        padding: 5px;
    }
}