@charset "UTF-8";

@font-face {
    font-family: 'lato';
    src: url(../fontes/Lato-Regular.ttf) format('truetype');
}

/* Telas Maiores */

@media screen and (min-width: 769px) {
    
    main {
        height: 79.5vh;
    }

    header {
        height: 75px;
        font-size: 1.5em;
        letter-spacing: 0.3em;
    }

    img {
        display: block;
        height: 160px;
        size: 160px;
        border-radius: 50%;
        padding: 10px;
    }
    
    .container-imagem {
        display: flex;
        justify-content: center;
    }

    .container {
        display: grid;
        justify-content: space-around;
        grid-template-areas:  
          'f-1 f-2'
          'f-3 f-4';
        gap: 80px;
    }

    .itens {
        height: 100px;
        width: 500px;
    }

    #f1 {
        grid-area: 'f-1';
    }

    #f-2 {
        grid-area: 'f-2';
    }

    #f-3 {
        grid-area: 'f-3';
    }

    #f-4 {
        grid-area: 'f-4';
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5px;
        height: 60px;
        background-color: #000000;
        color: #ffffff;
        font-size: 1.0em;
        letter-spacing: 0.1em;
    }
}