@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
    position: relative;
}

article {
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
    width: 98vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

article > h1 {
    padding: 20px 0px 0px 10px;    
}

article > p {
    padding: 15px 0px 15px 10px;
    width: 95vw;
    text-align: justify; 
}

.flex-container {
    display: flex;
    justify-content: center;
}

.iframe {
    width: 95vw;
    height: 50vh;
    border: 1px solid black;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}

article > p > a {
    text-decoration: none;
}

article > p > a:hover {
    font-weight: bolder;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.0em;
    padding-top: 10px;
}

footer > p > a {
    text-decoration: none;
    color: #ffffff;
}

footer > p > a:hover {
    font-weight: bolder;
}