@charset "UTF-8";

@font-face {
    font-family: 'lato';
    src: url(../fontes/Lato-Regular.ttf) format('truetype');
}

/* Mobile First */

:root {
    --cor-fundo: #f0f0f0;
    --cor-fundo-header: #ffffff;
    --fonte-destaque: 'lato', sans-serif;
    --fonte-corpo: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--cor-fundo-header);
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
    position: relative;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-family: var(--fonte-destaque);
}

main {
    background-color: var(--cor-fundo);
}

img {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0 10px 0;
}

.itens {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.208);
    border-radius: 10px;
    box-shadow: 1px 1px 1px #0000003e;
    font-size: 0.9em;
    text-align: center;
    width: 300px;
    height: 100px;
}

.itens > h2 {
    padding-top: 22.5px;
    font-family: var(--fonte-corpo);
}

.itens > p {
    padding: 10px 10px 0px 10px;
    font-family: var(--fonte-corpo);
}

.itens:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: default;
    transition: 0.5s;
}

.f-4 > p > a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    font-family: var(--fonte-corpo);
}

footer > p > a {
    text-decoration: none;
    color: #ffffff;
}

footer > p > a:hover {
    font-weight: bolder;
}