@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
    position: relative;
}

main {
    background-color: #f0f0f0;
    height: 80vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

.flex-itens {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.208);
    border-radius: 10px;
    box-shadow: 1px 1px 1px #0000003e;
    width: 50vw;
    font-size: 0.9em;
    text-align: center;
    width: 300px;
    height: 100px;
}

.flex-itens > h2 {
    padding-top: 20px;
}

.flex-itens > p {
    padding-top: 15px;
}

.flex-itens:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);    
}

footer {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.0em;
    height: 10vh;
    padding-top: 5px;
}

footer > p > a {
    text-decoration: none;
    color: #ffffff;
}

footer > p > a:hover {
    color: #0000ff;
}